@import utils.bacteriaData
@(bacteria: bacteriaData)(implicit session: Session)
    @english.home.main("Bacteria Information") {


        <style>
            th {
                width: 25%;
            }

            .notes {
                margin-left: 100px;
                margin-right: 10px;
            }
    </style>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <h2 class="page-heading"
                        style="text-align: left;
                            border-bottom: 5px solid #e9f3f4">
                            Bacteria Information
                        </h2>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;
                        word-wrap: break-word">
                        <tbody id="info">
                            <tr>
                                <th>Name</th>
                                <td><i>@bacteria.name</i></td>
                            </tr>

                            <tr>
                                <th>Chinese</th>
                                <td>@bacteria.chinese</td>
                            </tr>

                            <tr>
                                <th>Order</th>
                                <td>@bacteria.order</td>
                            </tr>

                            <tr>
                                <th>Suborder</th>
                                <td>@bacteria.suborder</td>
                            </tr>

                            <tr>
                                <th>Family</th>
                                <td>@bacteria.family</td>
                            </tr>

                            <tr>
                                <th>Genus</th>
                                <td>@bacteria.genus</td>
                            </tr>

                            <tr>
                                <th>Species</th>
                                <td>@bacteria.species</td>
                            </tr>

                            <tr>
                                <th>Infected humans</th>
                                <td>@bacteria.isPeople</td>
                            </tr>


                            <tr>
                                <th>Infected animals</th>
                                <td>@bacteria.isAnimal</td>
                            </tr>


                            <tr>
                                <th>Infected plants</th>
                                <td>@bacteria.isPlant</td>
                            </tr>

                            <tr>
                                <th>Route of transmission</th>
                                <td>@bacteria.tranRoute</td>
                            </tr>

                            <tr>
                                <th>Infective dose</th>
                                <td>@bacteria.infectiveDose</td>
                            </tr>

                            <tr>
                                <th>Vitro survival condition</th>
                                <td>@bacteria.survivalCondition</td>
                            </tr>

                            <tr>
                                <th>Effective disinfectant</th>
                                <td>@bacteria.isSanitizer</td>
                            </tr>

                            <tr>
                                <th>Mortality rate</th>
                                <td>@bacteria.deathRate</td>
                            </tr>

                            <tr>
                                <th>Effective therapeutic agent</th>
                                <td>@bacteria.isMedicine</td>
                            </tr>

                            <tr>
                                <th>Vaccine</th>
                                <td>@bacteria.isVaccine</td>
                            </tr>
                            <tr>
                                <th>CHINA (2006)</th>
                                <td>@bacteria.chinaRisk
                                    @if(!bacteria.chinaNotes.isEmpty) {
                                    <b class="notes">notes:</b>
        @bacteria.canadaNotes
        }
        </td>
        </tr>

        <tr>
            <th>USA NIH (2016)</th>
            <td>@bacteria.usanihRisk
                @if(!bacteria.usanihNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.usanihNotes
        }
        </td>
        </tr>

        <tr>
            <th>USA BMBL (2009)*</th>
            <td>@bacteria.usabmblRisk
                @if(!bacteria.usabmblNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.usabmblNotes
        }
        </td>
        </tr>

        <tr>
            <th>Australia/New Zealand (2010)</th>
            <td>@bacteria.australiaNewzealandRisk
                @if(!bacteria.australiaNewzealandNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.australiaNewzealandNotes
        }
        </td>
        </tr>

        <tr>
            <th>Belgium (2008)</th>
            <td>@bacteria.belgiumRisk
                @if(!bacteria.belgiumNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.belgiumNotes
        }
        </td>
        </tr>

        <tr>
            <th>Canada (2015)</th>
            <td>@bacteria.canadaRisk
                @if(!bacteria.canadaNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.canadaNotes
        }
        </td>
        </tr>

        <tr>
            <th>EU (2000)</th>
            <td>@bacteria.euRisk
                @if(!bacteria.euNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.euNotes
        }
        </td>
        </tr>

        <tr>
            <th>Germany (2013)</th>
            <td>@bacteria.germanyRisk
                @if(!bacteria.germanyNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.germanyNotes
        }
        </td>
        </tr>

        <tr>
            <th>Japan</th>
            <td>@bacteria.japanRisk
                @if(!bacteria.japanNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.japanNotes
        }
        </td>
        </tr>

        <tr>
            <th>Singapore</th>
            <td>@bacteria.singaporeRisk
                @if(!bacteria.singaporeNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.singaporeNotes
        }
        </td>
        </tr>



        <tr>
            <th>Switzerland</th>
            <td>@bacteria.switzerlandRisk
                @if(!bacteria.switzerlandNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.switzerlandNotes
        }
        </td>
        </tr>

        <tr>
            <th>UK (2013)</th>
            <td>@bacteria.ukRisk
                @if(!bacteria.ukNotes.isEmpty) {
                <b class="notes">notes:</b>
        @bacteria.ukNotes
        }
        </td>
        </tr>

        <tr>
            <th>Select Agent CDC</th>
            <td>@bacteria.selectAgentCdc</td>
        </tr>

                <tr>
                    <th>Select Agent USDA</th>
                    <td>@bacteria.selectAgentUsda</td>
                </tr>

        </tbody>
        </table>
        </div>


    }