@()(implicit session: Session)
@chinese.home.main("") {

    <style>
            .text {
                text-indent: 2em;
                font-size: 16px;
            }
    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">分类树</h2>
        </div>
    </div>

    <div id="tree" class="col-sm-5" style="height: 600px;
        overflow: auto;"></div>

    <div id="chart" class="col-sm-7" style="height: 600px;width: 58%;float: right;
        border: solid 1px #DDDDDD;overflow: auto;">

        <div id="introduce" style="overflow: auto;">
            <h3>中国</h3>
            <p class="text"><b>第一类微生物，</b>是指能够引起人类或者动物非常严重疾病的微生物，以及我国尚未发现或者已经宣布消灭的微生物。</p>
            <p class="text"><b>第二类微生物，</b>是指能够引起人类或者动物严重疾病，比较容易直接或者间接在人与人、动物与人、动物与动物间传播的微生物。</p>
            <p class="text"><b>第三类微生物，</b>
                是指能够引起人类或者动物疾病，但一般情况下对人、动物或者环境不构成严重危害，传播风险有限，实验室感染后很少引起严重疾病，并且具备有效治疗和预防措施的微生物。</p>
            <p class="text"><b>第四类微生物，</b>是指在通常情况下不会引起人类或者动物疾病的微生物。</p>
            <p class="text">第一类、第二类微生物统称为高致病性微生物。</p>

            <h3>CDC / 美国NIH微生物和生物医学实验室生物安全（2009年）</h3>
            <p class="text"><b>生物安全1级（BSL 1）：</b>适用于涉及特征明确的微生物的工作，这些微生物不会在免疫功能正常的成年人中持续引起疾病，并且对实验室人员和环境的潜在危害极小。</p>
            <p class="text"><b>生物安全2级（BSL 2）：</b>建立在BSL-1之上。BSL-2适用于涉及对人员和环境造成中度危害的微生物的工作。</p>
            <p class="text"><b>生物安全3级（BSL 3）：</b>适用于临床，诊断，教学，研究或生产设施，使用本土或外来物质进行工作，可能通过吸入途径引起严重或潜在致命的疾病。</p>
            <p class="text"><b>生物安全4级（BSL 4）：</b>危险和外来因素，对气溶胶传播的实验室感染和危及生命的疾病构成高风险，通常是致命的，没有疫苗或治疗，或风险未知的相关传播。</p>

            <h3>美国NIH涉及重组或合成核酸分子的研究指南（美国NIH指南）（美国，2016）</h3>
            <p class="text">风险评估最终是一个主观过程。研究者必须根据的风险组（RG）进行初始风险评估。根据以下标准，根据健康成年人的相对致病性将微生物分为四个风险组（RG）：</p>
            <p class="text"><b>风险组1（RG1）</b>微生物与健康成年人的疾病无关。</p>
            <p class="text"><b>风险组2（RG2）</b>微生物与人类疾病相关，这种疾病很少发生，并且通常可以进行预防性或治疗性干预。</p>
            <p class="text"><b>风险组3（RG3）</b>微生物与严重或致命的人类疾病相关，可以进行预防性或治疗性干预。</p>
            <p class="text"><b>风险组4（RG4）</b>微生物可能会导致严重或致命的人类疾病，通常无法进行预防性或治疗性干预。</p>

            <h3>世界卫生组织按风险组划分的感染性微生物分类（2004年）</h3>
            <p class="text">世卫组织风险分组依据：每个国家根据有机体的致病性，传播方式和有机体的寄主范围，按风险组对该国的微生物进行分类。这些可能受到现有免疫水平，密度和宿主群体存在适当载体和环境卫生标准的影响。</p>
            <p class="text">提供有效的预防措施。这些措施可能包括：接种疫苗或抗血清预防；卫生措施，例如食物和水卫生；控制动物宿主或节肢动物载体；人或动物的运动；以及进口受感染的动物或动物产品。</p>
            <p class="text">有效的治疗。这包括被动免疫接种和暴露后接种疫苗，抗生素和化学治疗剂，同时考虑到耐药菌株出现的可能性。重要的是要考虑处理微生物的地理区域的主要条件。注意：除诊断目的外，各国政府可能决定禁止处理或进口某些病原体。</p>
            <p class="text"><b>风险组（RISK GROUP）1</b>（没有或低的个人和社区风险）。一种不太可能引起人类疾病或动物疾病的微生物。</p>
            <p class="text"><b>风险组（RISK GROUP）2</b>（个人风险适中，社区风险低）。一种病原体，可引起人类或动物疾病，但不太可能对实验室工作人员，社区，牲畜或环境造成严重危害。实验室暴露可能导致严重感染，但可以采取有效的治疗和预防措施，并且感染传播的风险有限。</p>
            <p class="text"><b>风险组（RISK GROUP）3</b>（个人风险高，社区风险低）。病原体通常会导致严重的人类或动物疾病，但通常不会从一个受感染的个体传播到另一个受感染的个体。提供有效的治疗和预防措施。</p>
            <p class="text"><b>风险组（RISK GROUP）4</b>（高个人和社区风险）。一种病原体，通常会导致严重的人类或动物疾病，并且可以直接或间接地从一个人传播到另一个人。通常不提供有效的治疗和预防措施。</p>

            <h3>澳大利亚/新西兰标准（2010年）</h3>
            <p class="text">标准AS-NZS 2243-3：2010。实验室安全 - 微生物安全和遏制</p>
            <p class="text">通过修改WHO指南，根据微生物的致病性，微生物的传播方式和宿主范围，可用性，为澳大利亚和新西兰的人和动物传染性微生物制定了以下分类。有效的预防措施和有效治疗的可用性：</p>
            <p class="text"><b>风险组（RISK GROUP）1</b>（个人和社区风险较低） - 一种不太可能导致人类或动物疾病的微生物。</p>
            <p class="text"><b>风险组（RISK GROUP）2</b>（个人风险适中，社区风险有限） - 对实验室工作人员，社区，牲畜或环境不太可能构成重大风险的微生物；实验室暴露可能会导致感染，但可以采取有效的治疗和预防措施，并且传播风险有限。</p>
            <p class="text"><b>风险组（RISK GROUP）3</b>（高个人风险，仅限于中等社区风险） - 一种微生物，通常会导致严重的人类或动物疾病，并可能给实验室工作人员带来重大风险。如果在社区或环境中传播，它可能会带来有限到中等的风险，但通常有有效的预防措施或治疗方法。</p>
            <p class="text"><b>风险组（RISK GROUP）4</b>（高个人和社区风险） - 通常产生危及生命的人类或动物疾病的微生物，对实验室工作人员构成重大风险，并且可以容易地从一个人传播到另一个人。通常没有有效的治疗和预防措施。</p>

            <h3>比利时（2006年）</h3>
            <p class="text"><b>风险等级1：</b>对人类，动物，植物而言非致病性的微生物，对环境无害，或对实验室规模的人和环境造成的风险微不足道。除了已证实无害的生物外，该类还包括可能是过敏原和机会致病菌的菌株。</p>
            <i class="text"><b>人类病原体:</b></i>
            <p class="text"><b>风险等级2：</b>可能导致人类疾病的微生物，可能对直接接触者有危害；他们不太可能传播到社区。通常有有效的预防或治疗方法。</p>
            <p class="text"><b>风险等级3：</b>可导致严重人类疾病并对直接接触者造成严重危害的微生物。它们可能存在向社区传播的风险。通常有有效的预防或治疗方法。</p>
            <p class="text"><b>风险等级4：</b>导致严重人类疾病的微生物，对直接接触者有严重危害。他们可能面临向社区传播的高风险。通常没有有效的预防或治疗方法。</p>
            <i class="text"><b>动物病原体:</b></i>
            <p class="text"><b>风险等级2：</b>可以在动物中引起疾病并且在不同水平上呈现以下一个或其他特征的微生物：有限的地理重要性，没有或弱的种间传播，没有载体或载体。经济和/或兽医的意义是有限的。通常有有效的预防或治疗方法。</p>
            <p class="text"><b>风险等级3：</b>可导致动物严重疾病或动物流行病的微生物。种间扩散可能很重要。其中一些致病因子需要为每个有关国家当局索引的物种安装卫生法规。可提供医疗和/或卫生预防措施。</p>
            <p class="text"><b>风险等级4：</b>在受影响的农业区域中导致极高死亡率或严重经济后果的动物中引起极其严重的动物共患病或动物流行病的微生物。要么没有医疗预防，要么只有一种专属的卫生预防是可能的或强制性的。</p>
            <i class="text"><b>植物病原体:</b></i>
            <p class="text"><b>风险等级2：</b>可导致植物疾病的微生物，但在比利时环境中意外传播时不会增加流行病的风险。它们是无处不在的病原体，其中存在预防和治疗手段。由于缺乏宿主或植物目标而无法在比利时环境中生存的非本土或外来植物微生物，或有利的气候条件也属于风险等级2。</p>
            <p class="text"><b>风险等级3：</b>微生物，其可以在植物中引起经济或环境重要的疾病，其中无有效治疗，难以应用或昂贵。这些微生物的意外传播可能增加当地流行病的风险。通常存在于比利时环境中并且未列为检疫微生物的外来种群也属于这类风险。</p>

            <h3>加拿大生物安全手册第2版，2016年</h3>
            <p class="text"><b>风险组（RISK GROUP）1</b>（个人和社区风险低）</p>
            <p class="text">微生物，核酸或蛋白质，a）不能引起人或动物疾病；或b）能够引起人或动物疾病，但可能性较低。那些能够引起疾病的病原体被认为是病原体，对个体或动物的健康构成低风险，对公共健康和动物种群的风险较低。RG1病原体可能是机会性的，可能对免疫功能低下的个体构成威胁。由于与RG1材料相关的公共卫生和动物种群的风险较低，因此没有物理或操作要求来处理它们。尽管如此，在处理这些材料时应该小心谨慎并遵循安全的工作规范（例如，良好的微生物实验室规范）。</p>
            <p class="text"><b>风险组（RISK GROUP）2</b>（个体风险适中，社区风险较低）</p>
            <p class="text">一种病原体或毒素，对个人或动物的健康构成中度风险，对公众健康和动物种群的风险较低。这些病原体能够在人或动物中引起严重疾病，但可能性较低。有效的治疗和预防措施可用，这些病原体引起的疾病传播风险很低。RG2人病原体的实例包括在HPTA的附表2中。</p>
            <p class="text"><b>风险组（RISK GROUP）3</b>（个体风险高，社区风险低）</p>
            <p class="text">一种对个人或动物健康构成高风险且对公众健康风险较低的病原体。这些病原体可能在人或动物中引起严重的疾病。通常可以获得有效的治疗和预防措施，这些病原体引起的疾病传播风险对公众来说很低。然而，根据病原体，传播给动物群体的风险可以从低到高。RG3人病原体的实例包括在HPTA的附表3中。</p>
            <p class="text"><b>风险组（RISK GROUP）4</b>（高个人风险，高社区风险）</p>
            <p class="text">对个人或动物的健康构成高风险且对公众健康具有高风险的病原体。这些病原体可能在人或动物中引起严重疾病，这通常会导致死亡。通常不提供有效的治疗和预防措施，这些病原体引起的疾病传播风险对公众来说很高。然而，根据病原体，疾病向动物群体传播的风险从低到高不等。RG4人病原体的实例包括在HPTA的附表4中。</p>

            <h3>欧洲经济共同体（2000年）</h3>
            <p class="text">关于保护工人免受工作中接触生物制剂相关风险的指令2000/54 / EC和指令90/679 / EEC（1990年11月20日通过; 2000年9月18日修订）规定将生物制剂分类为四种感染风险群体基于以下标准：</p>
            <p class="text"><b>第1组</b>微生物是指不太可能引起人类疾病的微生物。</p>
            <p class="text"><b>第2组</b>微生物是指可能导致人类疾病并可能对工人造成危害的微生物；它不太可能传播到社区；通常有有效的预防或治疗方法。</p>
            <p class="text"><b>第3组</b>微生物是指可引起严重人类疾病并对工人造成严重危害的微生物；它可能存在向社区传播的风险，但通常有有效的预防或治疗方法。</p>
            <p class="text"><b>第4组</b>微生物是指导致严重人类疾病并对工人造成严重危害的微生物；它可能面临向社区传播的高风险；通常没有有效的预防或治疗方法。</p>
            <p class="text">（另见2000年9月18日欧洲共同体官方公报第L262 / 21号。）第2条。定义；第18条。微生物的分类；附件三。社区分类。介绍性说明）。</p>

            <h3>德国（2013年）</h3>
            <p class="text"><b>风险组1：</b>不太可能在人类中引起疾病生物材料</p>
            <p class="text"><b>风险组2：</b>可能导致人类疾病并可能对工人造成危害的生物材料；不太可能在人群中分散；通常可以进行有效的预防或治疗</p>
            <p class="text"><b>风险组3：</b>生物材料，导致严重的人类疾病并对工人造成严重危害；传播到社区的风险，但通常有有效的预防或治疗方法</p>
            <p class="text"><b>风险组4：</b>引起严重人类疾病并对工人构成严重危害的生物制剂；在某些情况下，人口中传播的风险很高；通常没有有效的预防或治疗方法。</p>

            <h3>新加坡（指南来自2012年;更新的生物清单来自2016年）：</h3>
            <p class="text"><b>附表1第I部分</b></p>
            <p class="text">风险组3生物制剂可导致严重疾病，对个人具有高风险。</p>
            <p class="text"><b>第一附表第II部分</b></p>
            <p class="text">说明与第一附表第I部分相同，但它们也有可能被用于生物武器。</p>
            <p class="text"><b>第二附表</b></p>
            <p class="text">风险组4生物制剂，可导致严重/致命的疾病，易于传播，对个人和社区具有高风险。这些有可能被用于生物武器。</p>
            <p class="text"><b>第三附表</b></p>
            <p class="text">风险组2在大规模生产中需要特别注意的生物制剂。</p>
            <p class="text"><b>第四附表</b></p>
            <p class="text">所有危险第2组生物制剂（包括附表3中的那些）在人类中引起疾病。</p>
            <p class="text"><b>第五附表</b></p>
            <p class="text">有可能被用于生物武器的微生物毒素。</p>

            <h3>英国（2013年）</h3>
            <p class="text"><b>第1组</b>不太可能导致人类疾病。</p>
            <p class="text"><b>第2组</b>可能导致人类疾病，可能对员工构成危害；它不太可能传播到社区，通常有效的预防或治疗。</p>
            <p class="text"><b>第3组</b>可能导致严重的人类疾病，可能对员工造成严重危害；它可能会传播到社区，但通常有有效的预防或治疗方法。</p>
            <p class="text"><b>第4组</b>造成严重的人类疾病，对员工构成严重危害；它可能会传播到社区，通常没有有效的预防或治疗方法。</p>

        </div>

        <h2 id="en_name"></h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;
                word-wrap: break-word">
                <tbody id="info">
                </tbody>
            </table>
        </div>


    </div>


    <script src="@routes.Assets.at("bootstrap-treeview/bootstrap-treeview.js")"></script>

    <script>
            $(function () {

                var index = layer.load(1);

                $.ajax({
                    url: "@routes.TreeController.getTreeJson()",
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        $('#tree').treeview({
                            data: result,         // 数据源
                            highlightSelected: true,    //是否高亮选中
                            emptyIcon: '',   //没有子节点的节点图标
                            multiSelect: false,    //多选
                            selectedBackColor: 'undefined',
                            selectedColor: 'undefined',
                            showTags: true,
                            levels: 1
                        });
                        layer.close(index);
                    },
                    error: function () {
                        layer.close(index);
                        swal("错误","树形结构加载失败。","error")
                    }
                });
            });

            function getInfo(id,sample) {
               $.ajax({
                   url: "/english/Tree/getInfoById?id=" + id + "&sample=" + sample,
                   type: "get",
                   dataType: "json",
                   success: function (data) {
                       $("#introduce").hide();
                       $("#en_name").empty();
                       $("#en_name").text(data.name);
                       $("#info").empty();
                       $("#info").html(data.html);
                   }
               })
            }


    </script>

}


