<style>



  .china tr td{
    border: 1px solid black;
    text-align: center;
    line-height: 25px;
    width: 220px;
    font-weight: bold;
  }


</style>

<p><b>The corresponding relationship between China's risk level and WHO's risk level:</b></p>
<div style="width:300px;">

  <table class="china" align="center">
    <tr>
      <td>CHINA</td>
      <td>WHO</td>
    </tr>
    <tr>
      <td>First-Class Value</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Second-Class Value</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Third-Class Value</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Fourth-Class Value</td>
      <td>1</td>
    </tr>
  </table>

</div>

  <p><b>Among them, the first and second class of microorganisms in China are collectively referred to as highly pathogenic microorganisms.</b></p>