<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Infected humans</label>
    <div class="col-sm-7">
        <select class="form-control" name="isPeople" id="isPeople">
            <option value="未知">Unknown</option>
            <option value="是">Yes</option>
            <option value="否">No</option>
        </select>
    </div>
</div>


<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Infected animals</label>
    <div class="col-sm-7">
        <select class="form-control" name="isAnimal" id="isAnimal">
            <option value="未知">Unknown</option>
            <option value="是">Yes</option>
            <option value="否">No</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Infected plants</label>
    <div class="col-sm-7">
        <select class="form-control" name="isPlant" id="isPlant">
            <option value="未知">Unknown</option>
            <option value="是">Yes</option>
            <option value="否">No</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-12"></div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Route of transmission</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="tranRoute" id="tranRoute"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Infective dose</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="infectiveDose" id="infectiveDose"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Vitro survival condition</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="survivalCondition" id="survivalCondition"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Effective disinfectant</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="isSanitizer" id="isSanitizer"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Mortality rate</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="deathRate" id="deathRate"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Effective therapeutic agent</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="isMedicine" id="isMedicine"></textarea>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Vaccine</label>
    <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="isVaccine" id="isVaccine"></textarea>
    </div>
</div>

<div class="form-group col-sm-12"></div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">CHINA (2006)</label>
    <div class="col-sm-7">
        <select class="form-control" name="chinaRisk" id="chinaRisk">
            <option value=" "> </option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="chinaNotes" id="chinaNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">USA NIH (2016)</label>
    <div class="col-sm-7">
        <select class="form-control" name="usanihRisk" id="usanihRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="usanihNotes" id="usanihNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">USA BMBL (2009)*</label>
    <div class="col-sm-7">
        <select class="form-control" name="usabmblRisk" id="usabmblRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="usabmblNotes" id="usabmblNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5" style="margin-top: -16px;">Australia/New Zealand (2010)</label>
    <div class="col-sm-7">
        <select class="form-control" name="australiaNewzealandRisk" id="australiaNewzealandRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="australiaNewzealandNotes" id="australiaNewzealandNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Belgium (2008)</label>
    <div class="col-sm-7">
        <select class="form-control" name="belgiumRisk" id="belgiumRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="belgiumNotes" id="belgiumNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Canada (2015)</label>
    <div class="col-sm-7">
        <select class="form-control" name="canadaRisk" id="canadaRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="canadaNotes" id="canadaNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">EU(2000)</label>
    <div class="col-sm-7">
        <select class="form-control" name="euRisk" id="euRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="euNotes" id="euNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Germany (2013)</label>
    <div class="col-sm-7">
        <select class="form-control" name="germanyRisk" id="germanyRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="germanyNotes" id="germanyNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Japan</label>
    <div class="col-sm-7">
        <select class="form-control" name="japanRisk" id="japanRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="japanNotes" id="japanNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Singapore</label>
    <div class="col-sm-7">
        <select class="form-control" name="singaporeRisk" id="singaporeRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="singaporeNotes" id="singaporeNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Switzerland</label>
    <div class="col-sm-7">
        <select class="form-control" name="switzerlandRisk" id="switzerlandRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="switzerlandNotes" id="switzerlandNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">UK (2013)</label>
    <div class="col-sm-7">
        <select class="form-control" name="ukRisk" id="ukRisk">
            <option value=" "> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Notes</label>
    <div class="col-sm-7">
        <input class="form-control" name="ukNotes" id="ukNotes">
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Select Agent CDC</label>
    <div class="col-sm-7">
        <select class="form-control" name="selectAgentCdc" id="selectAgentCdc">
            <option value="是">Yes</option>
            <option value="否">No</option>
        </select>
    </div>
</div>

<div class="form-group col-sm-6">
    <label class="control-label col-sm-5">Select Agent USDA</label>
    <div class="col-sm-7">
        <select class="form-control" name="selectAgentUsda" id="selectAgentUsda">
            <option value="是">Yes</option>
            <option value="否">No</option>
        </select>
    </div>
</div>


