@import utils.virusData
@(virus: virusData)(implicit session: Session)
@english.home.main("") {


    <style>
            th {
                width: 25%;
            }

            .notes {
                margin-left: 100px;
                margin-right: 10px;
            }
    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">Virus Information</h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;
            word-wrap: break-word">
            <tbody id="info">

                <tr>
                    <th>Name</th>
                    <td><i>@virus.name</i></td>
                </tr>

                <tr>
                    <th>Chinese</th>
                    <td>@virus.chinese</td>
                </tr>

                <tr>
                    <th>Order</th>
                    <td>@virus.order</td>
                </tr>

                <tr>
                    <th>Family</th>
                    <td>@virus.family</td>
                </tr>

                <tr>
                    <th>Subfamily</th>
                    <td>@virus.subfamily</td>
                </tr>

                <tr>
                    <th>Genus</th>
                    <td>@virus.genus</td>
                </tr>

                <tr>
                    <th>Species</th>
                    <td>@virus.species</td>
                </tr>

                <tr>
                    <th>Genome Composition</th>
                    <td>@virus.genome_composition</td>
                </tr>

                <tr>
                    <th>Infected humans</th>
                    <td>@virus.isPeople</td>
                </tr>


                <tr>
                    <th>Infected animals</th>
                    <td>@virus.isAnimal</td>
                </tr>


                <tr>
                    <th>Infected plants</th>
                    <td>@virus.isPlant</td>
                </tr>

                <tr>
                    <th>Route of transmission</th>
                    <td>@virus.tranRoute</td>
                </tr>

                <tr>
                    <th>Infective dose</th>
                    <td>@virus.infectiveDose</td>
                </tr>

                <tr>
                    <th>Vitro survival condition</th>
                    <td>@virus.survivalCondition</td>
                </tr>

                <tr>
                    <th>Effective disinfectant</th>
                    <td>@virus.isSanitizer</td>
                </tr>

                <tr>
                    <th>Mortality rate</th>
                    <td>@virus.deathRate</td>
                </tr>

                <tr>
                    <th>Effective therapeutic agent</th>
                    <td>@virus.isMedicine</td>
                </tr>

                <tr>
                    <th>Vaccine</th>
                    <td>@virus.isVaccine</td>
                </tr>

                <tr>
                    <th>CHINA Risk</th>
                    <td>@virus.chinaRisk
                        @if(!virus.chinaNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.canadaNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>USA NIH Risk</th>
                    <td>@virus.usanihRisk
                        @if(!virus.usanihNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.usanihNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>USA BMBL Risk</th>
                    <td>@virus.usabmblRisk
                        @if(!virus.usabmblNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.usabmblNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>Australia/New Zealand</th>
                    <td>@virus.australiaNewzealandRisk
                        @if(!virus.australiaNewzealandNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.australiaNewzealandNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>BELGIUM Risk</th>
                    <td>@virus.belgiumRisk
                        @if(!virus.belgiumNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.belgiumNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>CANADA Risk</th>
                    <td>@virus.canadaRisk
                        @if(!virus.canadaNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.canadaNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>EU Risk</th>
                    <td>@virus.euRisk
                        @if(!virus.euNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.euNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>GERMANY Risk</th>
                    <td>@virus.germanyRisk
                        @if(!virus.germanyNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.germanyNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>JAPAN Risk</th>
                    <td>@virus.japanRisk
                        @if(!virus.japanNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.japanNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>Singapore Risk</th>
                    <td>@virus.singaporeRisk
                        @if(!virus.singaporeNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.singaporeNotes
                        }
                    </td>
                </tr>


                <tr>
                    <th>SWITZERLAND Risk</th>
                    <td>@virus.switzerlandRisk
                        @if(!virus.switzerlandNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.switzerlandNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>UK Risk</th>
                    <td>@virus.ukRisk
                        @if(!virus.ukNotes.isEmpty) {
                            <b class="notes">notes:</b>
                            @virus.ukNotes
                        }
                    </td>
                </tr>

                <tr>
                    <th>Select Agent CDC</th>
                    <td>@virus.selectAgentCdc</td>
                </tr>

                <tr>
                    <th>Select Agent USDA</th>
                    <td>@virus.selectAgentUsda</td>
                </tr>

            </tbody>
        </table>
    </div>


}