<thead>
    <tr>
        <th data-field="name" data-sortable="true">名称</th>
        <th data-field="chinese" data-sortable="true">中文名</th>
        <th data-field="order" data-sortable="true">目</th>
        <th data-field="family" data-sortable="true">科</th>
        <th data-field="subfamily" data-sortable="true">亚科</th>
        <th data-field="genus" data-sortable="true">属</th>
        <th data-field="species" data-sortable="true">种</th>
        <th data-field="genome_composition" data-sortable="true">基因组构成</th>
        <th data-field="isPeople" data-sortable="true">是否感染人</th>
        <th data-field="isAnimal" data-sortable="true">是否感染动物</th>
        <th data-field="isPlant" data-sortable="true">是否感染植物</th>
        <th data-field="tranRoute" data-sortable="true">传播途径</th>
        <th data-field="infectiveDose" data-sortable="true">感染剂量</th>
        <th data-field="survivalCondition" data-sortable="true">体外存活条件</th>
        <th data-field="isSanitizer" data-sortable="true">有效消毒剂</th>
        <th data-field="deathRate" data-sortable="true">预后/死亡率</th>
        <th data-field="isMedicine" data-sortable="true">有效治疗药物</th>
        <th data-field="isVaccine" data-sortable="true">疫苗</th>
        <th data-field="chinaRisk" data-sortable="true">中国 (2006)</th>
        <th data-field="usanihRisk" data-sortable="true">美国 NIH (2016)</th>
        <th data-field="usabmblRisk" data-sortable="true">美国 BMBL (2009)*</th>
        <th data-field="australiaNewzealandRisk" data-sortable="true">澳大利亚/新西兰 (2010)</th>
        <th data-field="belgiumRisk" data-sortable="true">比利时 (2008)</th>
        <th data-field="canadaRisk" data-sortable="true">加拿大 (2015)</th>
        <th data-field="euRisk" data-sortable="true">欧盟 (2000)</th>
        <th data-field="germanyRisk" data-sortable="true">德国 (2013)</th>
        <th data-field="japanRisk" data-sortable="true">日本</th>
        <th data-field="singaporeRisk" data-sortable="true">新加坡</th>
        <th data-field="switzerlandRisk" data-sortable="true">瑞士</th>
        <th data-field="ukRisk" data-sortable="true">英国 (2013)</th>
        <th data-field="selectAgentCdc" data-sortable="true">Select Agent CDC</th>
        <th data-field="selectAgentUsda" data-sortable="true">Select Agent USDA</th>
    </tr>
</thead>