<style>



  .china tr td{
    border: 1px solid black;
    text-align: center;
    line-height: 25px;
    width: 80px;
    font-weight: bold;
  }


</style>

<p><b>中国危险度等级与WHO危险度等级的对应关系：</b></p>
<div style="width:300px;">

  <table class="china" align="center">
    <tr>
      <td>中国</td>
      <td>WHO</td>
    </tr>
    <tr>
      <td>第一类</td>
      <td>4</td>
    </tr>
    <tr>
      <td>第二类</td>
      <td>3</td>
    </tr>
    <tr>
      <td>第三类</td>
      <td>2</td>
    </tr>
    <tr>
      <td>第四类</td>
      <td>1</td>
    </tr>
  </table>

</div>

  <p><b>其中，中国第一类、第二类微生物统称为高致病性微生物。</b></p>