@()(implicit session: Session)
@english.home.main("") {


    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">Manage parasite - Admin</h2>
        </div>
    </div>


    <p><b>分类学信息：</b></p>
    <div id="tax" class="checkbox"></div>
    <p><b>条件：</b></p>
    <div id="position" class="checkbox"></div>
    <p><b>各国风险等级：</b></p>
    <div id="risk" class="checkbox"></div>

    <div id="toolbar"></div>

    <table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
    data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="left" data-multiple-search="true"
    data-show-export="true" data-export-types="['excel','txt']" data-export-data-type="all"
    >
        <thead>
            <tr>
                <th data-field="operation">操作</th>
                <th data-field="name" data-sortable="true">名称</th>
                <th data-field="chinese" data-sortable="true">中文名</th>
                <th data-field="order" data-sortable="true">目（order）</th>
                <th data-field="family" data-sortable="true">科（family）</th>
                <th data-field="genus" data-sortable="true">属（genus）</th>
                <th data-field="species" data-sortable="true">种（species）</th>
                <th data-field="isPeople" data-sortable="true">是否感染人</th>
                <th data-field="isAnimal" data-sortable="true">是否感染动物</th>
                <th data-field="isPlant" data-sortable="true">是否感染植物</th>
                <th data-field="tranRoute" data-sortable="true">传播途径</th>
                <th data-field="infectiveDose" data-sortable="true">感染剂量</th>
                <th data-field="survivalCondition" data-sortable="true">体外存活条件</th>
                <th data-field="isSanitizer" data-sortable="true">有效消毒剂</th>
                <th data-field="deathRate" data-sortable="true">预后/死亡率</th>
                <th data-field="isMedicine" data-sortable="true">有效治疗药物</th>
                <th data-field="isVaccine" data-sortable="true">疫苗</th>
                <th data-field="chinaRisk" data-sortable="true">中国（2006）</th>
                <th data-field="usanihRisk" data-sortable="true">美国NIH (2016)</th>
                <th data-field="usabmblRisk" data-sortable="true">美国BMBL (2009)*</th>
                <th data-field="australiaNewzealandRisk" data-sortable="true">澳大利亚/新西兰 Australia/New Zealand  (2010)</th>
                <th data-field="belgiumRisk" data-sortable="true">比利时 Belgium (2008)</th>
                <th data-field="canadaRisk" data-sortable="true">加拿大 Canada (2015)</th>
                <th data-field="euRisk" data-sortable="true">欧盟 EU (2000)</th>
                <th data-field="germanyRisk" data-sortable="true">德国 Germany (2013)</th>
                <th data-field="japanRisk" data-sortable="true">日本 Japan</th>
                <th data-field="singaporeRisk" data-sortable="true">新加坡 Singapore</th>
                <th data-field="switzerlandRisk" data-sortable="true">瑞士 Switzerland</th>
                <th data-field="ukRisk" data-sortable="true">英国 UK (2013)</th>
                <th data-field="selectAgentCdc" data-sortable="true">Select Agent CDC</th>
                <th data-field="selectAgentUsda" data-sortable="true">Select Agent USDA</th>
            </tr>
        </thead>
    </table>

    <br>
    <br>
    <br>

    <script src="@routes.Assets.at("javascripts/parasite.js")" type="text/javascript"></script>

    <script>
            $(function () {
                loadParasite();
            });
    </script>
}