@import utils.parasiteData
@(parasite: parasiteData)(implicit session: Session)
@english.home.main("Parasite Information") {


    <style>
            th {
                width: 25%;
            }

            .notes {
                margin-left: 100px;
                margin-right: 10px;
            }
    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">Parasite Information</h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;
            word-wrap: break-word">
            <tbody id="info">

                <tr>
                    <th>Name</th>
                    <td>@parasite.name</td>
                </tr>

                <tr>
                    <th>Chinese</th>
                    <td>@parasite.chinese</td>
                </tr>

                <tr>
                    <th>Order</th>
                    <td>@parasite.order</td>
                </tr>

                <tr>
                    <th>Family</th>
                    <td>@parasite.family</td>
                </tr>

                <tr>
                    <th>Genus</th>
                    <td>@parasite.genus</td>
                </tr>

                <tr>
                    <th>Species</th>
                    <td>@parasite.species</td>
                </tr>

                    <tr>
                        <th>Infected humans</th>
                        <td>@parasite.isPeople</td>
                    </tr>


                    <tr>
                        <th>Infected animals</th>
                        <td>@parasite.isAnimal</td>
                    </tr>


                    <tr>
                        <th>Infected plants</th>
                        <td>@parasite.isPlant</td>
                    </tr>

                    <tr>
                        <th>Route of transmission</th>
                        <td>@parasite.tranRoute</td>
                    </tr>

                    <tr>
                        <th>Infective dose</th>
                        <td>@parasite.infectiveDose</td>
                    </tr>

                    <tr>
                        <th>Vitro survival condition</th>
                        <td>@parasite.survivalCondition</td>
                    </tr>

                    <tr>
                        <th>Effective disinfectant</th>
                        <td>@parasite.isSanitizer</td>
                    </tr>

                    <tr>
                        <th>Mortality rate</th>
                        <td>@parasite.deathRate</td>
                    </tr>

                    <tr>
                        <th>Effective therapeutic agent</th>
                        <td>@parasite.isMedicine</td>
                    </tr>

                    <tr>
                        <th>Vaccine</th>
                        <td>@parasite.isVaccine</td>
                    </tr>

                    <tr>
                        <th>CHINA Risk</th>
                        <td>@parasite.chinaRisk
                            @if(!parasite.chinaNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.canadaNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>USA NIH Risk</th>
                        <td>@parasite.usanihRisk
                            @if(!parasite.usanihNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.usanihNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>USA BMBL Risk</th>
                        <td>@parasite.usabmblRisk
                            @if(!parasite.usabmblNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.usabmblNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>Australia/New Zealand</th>
                        <td>@parasite.australiaNewzealandRisk
                            @if(!parasite.australiaNewzealandNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.australiaNewzealandNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>BELGIUM Risk</th>
                        <td>@parasite.belgiumRisk
                            @if(!parasite.belgiumNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.belgiumNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>CANADA Risk</th>
                        <td>@parasite.canadaRisk
                            @if(!parasite.canadaNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.canadaNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>EU Risk</th>
                        <td>@parasite.euRisk
                            @if(!parasite.euNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.euNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>GERMANY Risk</th>
                        <td>@parasite.germanyRisk
                            @if(!parasite.germanyNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.germanyNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>JAPAN Risk</th>
                        <td>@parasite.japanRisk
                            @if(!parasite.japanNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.japanNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>Singapore Risk</th>
                        <td>@parasite.singaporeRisk
                            @if(!parasite.singaporeNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.singaporeNotes
                            }
                        </td>
                    </tr>


                    <tr>
                        <th>SWITZERLAND Risk</th>
                        <td>@parasite.switzerlandRisk
                            @if(!parasite.switzerlandNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.switzerlandNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>UK Risk</th>
                        <td>@parasite.ukRisk
                            @if(!parasite.ukNotes.isEmpty) {
                                <b class="notes">notes:</b>
                                @parasite.ukNotes
                            }
                        </td>
                    </tr>

                    <tr>
                        <th>Select Agent CDC</th>
                        <td>@parasite.selectAgentCdc</td>
                    </tr>

                    <tr>
                        <th>Select Agent USDA</th>
                        <td>@parasite.selectAgentUsda</td>
                    </tr>

            </tbody>
        </table>
    </div>


}