<thead>
    <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="chinese" data-sortable="true">Chinese</th>
        <th data-field="order" data-sortable="true">Order</th>
        <th data-field="family" data-sortable="true">Family</th>
        <th data-field="genus" data-sortable="true">Genus</th>
        <th data-field="species" data-sortable="true">Species</th>
        <th data-field="isPeople" data-sortable="true">Infected humans</th>
        <th data-field="isAnimal" data-sortable="true">Infected animals</th>
        <th data-field="isPlant" data-sortable="true">Infected plants</th>
        <th data-field="tranRoute" data-sortable="true">Route of transmission</th>
        <th data-field="infectiveDose" data-sortable="true">Infective dose</th>
        <th data-field="survivalCondition" data-sortable="true">Vitro survival condition</th>
        <th data-field="isSanitizer" data-sortable="true">Effective disinfectant</th>
        <th data-field="deathRate" data-sortable="true">Mortality rate</th>
        <th data-field="isMedicine" data-sortable="true">Effective therapeutic agent</th>
        <th data-field="isVaccine" data-sortable="true">Vaccine</th>
        <th data-field="chinaRisk" data-sortable="true">CHINA (2006)</th>
        <th data-field="usanihRisk" data-sortable="true">USA NIH (2016)</th>
        <th data-field="usabmblRisk" data-sortable="true">USA BMBL (2009)*</th>
        <th data-field="australiaNewzealandRisk" data-sortable="true">Australia/New Zealand  (2010)</th>
        <th data-field="belgiumRisk" data-sortable="true">Belgium (2008)</th>
        <th data-field="canadaRisk" data-sortable="true">Canada (2015)</th>
        <th data-field="euRisk" data-sortable="true">EU (2000)</th>
        <th data-field="germanyRisk" data-sortable="true">Germany (2013)</th>
        <th data-field="japanRisk" data-sortable="true">Japan</th>
        <th data-field="singaporeRisk" data-sortable="true">Singapore</th>
        <th data-field="switzerlandRisk" data-sortable="true">Switzerland</th>
        <th data-field="ukRisk" data-sortable="true">UK (2013)</th>
        <th data-field="selectAgentCdc" data-sortable="true">Select Agent CDC</th>
        <th data-field="selectAgentUsda" data-sortable="true">Select Agent USDA</th>
    </tr>
</thead>